body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  [type="text"], 
  textarea {
    @apply border-amber-400 focus:border-amber-500 focus:ring-1 focus:ring-amber-500 placeholder:italic placeholder:text-gray-400;
  }

}